*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
   
background: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}
.layout {
    border: 0px solid red;
    border-radius: 12px;
    height: 90vh;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.panel-top {
    display: flex;
    flex-direction: row;
    padding: 20px 30%;
    justify-content: space-around;
    border: 0px solid red;
    background: rgb(223,188,71);
    color: white;
}
.score {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.score h2 {
    font-size: 25px;
}
.score p{
    font-size: 25px;
    border: 2px solid white;
    border-radius: 5px;
    background: white;
    color: rgb(33, 33, 88);
    font-weight: 400;
    width: 50px;
    display: flex;
    justify-content: center;
}
.panel-bottom {
    background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);
   height: 90%;
}


.bubble {
    display: inline-block;
    padding-left: 18px;
    padding-top: 10px;
    font-size: 25px;
    background: radial-gradient(circle at 10% 20%, rgb(151, 10, 130) 0%, rgb(33, 33, 33) 100.2%);
    margin: 8px;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.bubble:hover {
    background: radial-gradient(circle at 10% 20%, rgb(255, 19, 120) 0%, rgb(0, 0, 0) 90.5%);
    color:whitesmoke;
    cursor: pointer;
}
